### Creating Snapshot Serengeti subject sets
Base datasetis subject_set.json created by Marco

Read the raw subject set location - "./ss/subject_set.json"

In [1]:
import json, csv
import pandas as pd

In [2]:
"""function to read the json and write it to a dictionary object"""
def read_json(json_file):
    with open(json_file) as f:
        json_dict = json.load(f)
    return json_dict

json_file = read_json('./ss/subject_set.json')

In [18]:
# Writing the required fields to a csv file for easy access and read through pandas

with open('./ss/subject_set_count1.csv', 'w') as f:
    csv_writer = csv.writer(f, delimiter=',')
    csv_writer.writerow(['CaptureEventID', 'Species', 'DateTime', 'SiteID', 'NumSpecies', 'Count'])
    for k, v in json_file.items():
        if v['label']!='blank'  and v['meta_data']['Count']=='1':
            # for i in len(v['url']):
            csv_writer.writerow([k, 
                                v['meta_data']['Species'], 
                                v['meta_data']['DateTime'],
                                v['meta_data']['SiteID'],
                                v['meta_data']['NumSpecies'],
                                v['meta_data']['Count']]
                               )

In [3]:
df1 = pd.read_csv('./ss/subject_set_count1.csv')
df1.shape

(209180, 6)

In [32]:
df1.shape == df1.drop_duplicates(keep='first').shape # if True then no duplicates present

True

In [46]:
# Count per species.
# This will help in deciding on the sampling of the images
df2 = df1[['Species', 'Count']].groupby(by=['Species'], axis=0, as_index=False).count()
df2 = df2.sort_values(by = 'Count')
df2['pct_cnt'] = round(df2['Count']*100/209180, 1)

In [49]:
df2

            Species  Count  pct_cnt
8            cattle      1      0.0
3               bat      3      0.0
44         steenbok      6      0.0
53          zorilla     27      0.0
12           duiker     28      0.0
47          vulture     30      0.0
40       rhinoceros     39      0.0
17            genet     39      0.0
23      honeyBadger     44      0.0
10            civet     54      0.0
50          wildcat     64      0.0
41          rodents     71      0.0
7           caracal     86      0.0
39         reptiles    132      0.1
26     hyenaStriped    154      0.1
28     insectSpider    221      0.1
34         mongoose    230      0.1
1          aardwolf    249      0.1
31          leopard    315      0.2
46     vervetMonkey    320      0.2
6          bushbuck    333      0.2
37        porcupine    338      0.2
4       batEaredFox    350      0.2
49        waterbuck    402      0.2
20             hare    485      0.2
0          aardvark    558      0.3
29           jackal    653      0.3
30      koriBustard    685      0.3
35          ostrich    802      0.4
43           serval   1029      0.5
33         lionMale   1169      0.6
42    secretaryBird   1206      0.6
2            baboon   1284      0.6
9           cheetah   1528      0.7
11           dikDik   1625      0.8
45             topi   1877      0.9
32       lionFemale   2744      1.3
13            eland   2771      1.3
19       guineaFowl   3270      1.6
38         reedbuck   3357      1.6
22     hippopotamus   3537      1.7
36        otherBird   4722      2.3
27           impala   6547      3.1
15    gazelleGrants   6906      3.3
25     hyenaSpotted   6943      3.3
48          warthog   7751      3.7
5           buffalo   8433      4.0
14         elephant  10215      4.9
18          giraffe  10457      5.0
21       hartebeest  11570      5.5
24            human  12391      5.9
16  gazelleThomsons  29032     13.9
51       wildebeest  29930     14.3
52            zebra  32167     15.4

Here I am trying to create the menifest file to go along with the subject sets that I've created.


This will go through the json_file and look for the Event id's that are present in the 
"/home/ubuntu/data/tensorflow/my_workspace/camera-trap-detection/snapshot-safari/snapshot-serengeti/capture_event_id.csv"

This file was created using the script subject_set_creation.py

In [6]:
capture_event_id_loc= "/home/ubuntu/data/tensorflow/my_workspace/camera-trap-detection/snapshot-safari/snapshot-serengeti/capture_event_id.csv"
capture_event_id = pd.read_csv(capture_event_id_loc)

# some test
print('ASG00069j7' in list(capture_event_id['CaptureEventID']))
capture_event_id.head()

True

  CaptureEventID
0     ASG000p84s
1     ASG000pmt2
2     ASG0006ebk
3     ASG000exr7
4     ASG0005sum

# This is an ineffeient code
with open("/home/ubuntu/data/tensorflow/my_workspace/camera-trap-detection/snapshot-safari/snapshot-serengeti/manifest.csv", 'w') as f:
    csv_writer = csv.writer(f, delimiter=',')
    csv_writer.writerow(['CaptureEventID', 'fnames', 'img_ids', 'label', 'DateTime', 'SiteID', 'LocationX', 'LocationY'])
    for k, v in json_file.items():
        if k in (list(capture_event_id['CaptureEventID'])):
            csv_writer.writerow([k, 
                                v['fnames'][0], 
                                v['img_ids'][0],
                                v['label'],
                                v['meta_data']['DateTime'],
                                v['meta_data']['SiteID'],
                                v['meta_data']['LocationX'],
                                v['meta_data']['LocationY']]
                               )

In [6]:
with open("/home/ubuntu/data/tensorflow/my_workspace/camera-trap-detection/snapshot-safari/snapshot-serengeti/manifest.csv", 'w') as f:
    csv_writer = csv.writer(f, delimiter=',')
    csv_writer.writerow(['CaptureEventID', 'fnames', 'img_ids', 'label', 'DateTime', 'SiteID', 'LocationX', 'LocationY'])
    for event in list(capture_event_id['CaptureEventID']):
        csv_writer.writerow([event, event + '.jpg',
                            # json_file[event]['fnames'][0], 
                            json_file[event]['img_ids'][0],
                            json_file[event]['label'],
                            json_file[event]['meta_data']['DateTime'],
                            json_file[event]['meta_data']['SiteID'],
                            json_file[event]['meta_data']['LocationX'],
                            json_file[event]['meta_data']['LocationY']]
                            )

In [1]:
pwd

'/home/ubuntu/data/zooniverse-support/db'